export(schoolgrowth)

importFrom("stats", "ave", "coef", "cor", "cov", "lm", "na.omit", "reshape", "var", "weighted.mean")

importFrom("methods", "as", "is", "new")

importFrom("Matrix", "bdiag", "forceSymmetric", "sparse.model.matrix", "sparseMatrix", "sparseVector", "symmpart")

importFrom("MASS", "ginv")

importMethodsFrom("Matrix", "crossprod", "tcrossprod", "solve", "diag", "t", "isSymmetric", "norm")

