export(blp, schoolgrowth)

importFrom("stats", "ave", "cov", "na.omit", "var", "weighted.mean")

importFrom("Matrix", "sparse.model.matrix", "nearPD")

importMethodsFrom("Matrix", "crossprod", "solve")

